.wishlist{

    width:90%;

    max-width:1200px;

    margin:40px auto;

}

.wishlist h1{

    margin-bottom:30px;

}

.empty{

    text-align:center;

    margin-top:80px;

}

.wishlist-card{

    display:flex;

    gap:20px;

    margin-bottom:25px;

    background:white;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

}

.wishlist-card img{

    width:250px;

    height:180px;

    object-fit:cover;

}

.wishlist-info{

    padding:20px;

    flex:1;

}

.wishlist-info p{

    margin:10px 0;

}

.remove-btn{

    margin-top:15px;

    padding:12px 18px;

    background:#ef4444;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

.remove-btn:hover{

    background:#dc2626;

}

@media(max-width:768px){

.wishlist-card{

flex-direction:column;

}

.wishlist-card img{

width:100%;

height:220px;

}

}